@model AlugPris1.Models.imovel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>imovel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Tipo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tipo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Valor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Valor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Detalhes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Detalhes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Anunciante)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Anunciante)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefone)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Codigo }) |
    @Html.ActionLink("Back to List", "Index")
</p>
